head
  title= title
  include includes/css
body
  .chatbox
      header
        h1 Welcome to the chat
        p To talk to the bot start your message with @bot.
      #userlist
      #chat
      textarea#message(name='message' placeholder='Message... (send with return, for newline shift+return)')
      input#nickname(name='nickname' placeholder='Input a nickname to start...')
      footer by Håkan Arnoldson. Project assignment in YHJUST16 (JavaScript developer) at Lernia YH.
  include includes/scripts
        
        
  
